@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

::selection {
  color: white;
  background-color: plum;
}

html {
  scroll-behavior: smooth;
}

.background-gradient-animation {
  animation: scaleUpDown 3s alternate infinite;
}

.mainText-gradient {
  background: -webkit-linear-gradient(360deg, #001aff, #ff00d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scaleUpDown {
  0% {
    scale: 0.8;
  }
  100% {
    scale: 1.4;
  }
}

.navbar-animation {
  animation: leftToRight 2s alternate infinite;
}

@keyframes leftToRight {
  0% {
    left: -50px;
  }

  100% {
    left: 110%;
  }
}

.animate-bounceOne {
  animation: bounceOne 3s alternate infinite;
}

@keyframes bounceOne {
  0%,
  100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounceTwo {
  animation: bounceTwo 3s alternate infinite;
  rotate: -45deg;
}

@keyframes bounceTwo {
  0%,
  100% {
    transform: translateY(5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
