@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

html {
  user-select: none;
}

.mainText-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.tagText-gradient {
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.nameText-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
}

.navbarMenu-gradient {
  background: linear-gradient(
    45deg,
    #7953cd,
    #004ffa,
    #0190cd,
    #764ada,
    #ff00ea
  );
}

.navbar-animation {
  animation: leftToRight 2s alternate infinite;
}

@keyframes leftToRight {
  0% {
    left: -50px;
  }

  100% {
    left: 110%;
  }
}

